@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --min-size: 94vw;
  --max-size: 1120px;
  --padding-value: 6rem;
  --icon-box: 9rem;
  --icon-size: 4rem;
}

body {
  background-color: #fafafa;
  font-family: 'Source Sans Pro', sans-serif;
}

/* geral */
h1 {
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.05rem;
  color: #3d3e3e;
}

h3 {
  color: #3e3e3e;
  font-size: 1.5rem;
}

h1, h2, h3, p {
  font-weight: 300;
}

p {
  line-height: 1.9rem;
  font-size: 1.15rem;
  color: #666;
}

a {
  text-decoration: none;
  border-bottom: 1px dashed #ffffff99;
  color: #fff;
}

img {
  display: block;
}

button {
  padding: 0.75rem 2.25rem;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 4px;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.2s ease;
}

button:focus {
  outline: none;
}

button.head {
  position: relative;
}

button.head::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 100rem;
  background-color: #fff;
  transform: translate(-50%, 100%);
}

li {
  list-style: none;
}

hr {
  border: 0;
  height: 2px;
  width: 7rem;
  background-color: #aaa;
}

br {
  display: none;
}

/* header */
header {
  background-image: linear-gradient(
    45deg,
    #1B4332 0%,
    #1B4332 16%,
    #2D6A4F 16%,
    #2D6A4F 33%,
    #40916C 33%,
    #40916C 50%,
    #52B788 50%,
    #52B788 66%,
    #74C69D 66%,
    #74C69D 83%,
    #95D5B2 83%);
  padding: calc(var(--padding-value) + 2rem) 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(0,0,0,0.1) 0%,
    rgba(0,0,0,0.2) 100%);
  z-index: -1;
}

.header-content {
  width: min(var(--min-size), var(--max-size));
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-content .cloud {
  font-size: 5rem;
  color: #fff;
}

.header-content h1 {
  color: #fff;
  margin: 1.5rem;
}

.header-content h1 span {
  font-weight: 400;
}

.header-content p {
  color: #3e3e3e;
  text-align: center;
  color: #fafafa;
  font-weight: 300;
}

.header-content br {
  display: block;
}

.header-content .cloud,
.header-content h1,
.header-content p {
  opacity: 0;
  visibility: hidden;
  animation: opacity 0.5s linear 0.5s forwards;
}

.header-content button {
  margin-top: 3rem;
  transform: translateY(500%);
  animation: buttonUp 0.8s linear 1s forwards;
}

.header-content button:hover {
  background-color: rgba(255,255,255,0.2);
}


/* first section */
.first-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: min(var(--min-size), var(--max-size));
  margin: var(--padding-value) auto;
}

.first-section .img-container,
.first-section .text-content {
  width: 50%;
  padding: 1rem;
}

.first-section img {
  width: 100%;
  border-radius: 8px;
}

.text-content h2 {
  margin-bottom: 2rem
}

.text-content p {
  margin-top: 2rem;
}


/* secondary section */
.second-section {
  position: relative;
  overflow: hidden;
  padding: var(--padding-value) 0;
  z-index: 1;
}

.second-section::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background-image: url('https://images.wallpaperscraft.com/image/spruce_trees_grass_184844_1920x1080.jpg');
  background-size: cover;
  filter: blur(2px);
  z-index: -1;
}

/* container com background */
.icons-text-container {
  width: min(var(--min-size), var(--max-size));
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.icons-text-container .icons-area,
.icons-text-container .text-content {
  width: 50%;
  padding: 1rem;
}

.icons-text-container .icons-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icons-area .icon {
  width: var(--icon-box);
  height: var(--icon-box);
  margin: 3rem;
  border: 1px solid #fff;
  border-radius: 8px;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-text-container .icon i {
  transform: rotate(-45deg);
  color: #fff;
  font-size: var(--icon-size);
}

.icons-text-container .text-content h2 {
  color: #fff;
}

.icons-text-container .text-content p {
  color: #ccc;
}


/* third section */
.third-section .text-content {
  width: min(var(--min-size), var(--max-size));
  margin: 6rem auto 2rem;
  text-align: center;
}

.third-section .text-content hr {
  margin: 0 auto;
}

.third-section .images-section {
  width: min(var(--min-size), var(--max-size));
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.images-section .about-image {
  text-align: center;
  overflow: hidden;
}

.images-section .about-image img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.images-section .about-image p {
  margin: 2rem 0;
}

.images-section .about-image button {
  border-color: #aaa;
  color: #777;
}


/* four section */
.four-section {
  position: relative;
  overflow: hidden;
  margin-top: 3rem;
  padding: var(--padding-value) 0;
  z-index: 1;
}

.four-section::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background-image: url('https://images.wallpaperscraft.com/image/spruce_trees_grass_184844_1920x1080.jpg');
  background-size: cover;
  background-position: top;
  filter: blur(2px);
  z-index: -1;
}

.four-section .text-content {
  width: min(var(--min-size), var(--max-size));
  margin: 0 auto;
  text-align: center;
}

.four-section .text-content h2 {
  color: #fff;
}

.four-section .text-content hr {
  margin: 0 auto;
  background-color: #fff;
}

.four-section .text-content p {
  color: #ccc;
}

.four-section .button-container {
  width: min(var(--min-size), var(--max-size));
  margin: 2rem auto 0;
  text-align: center;
}

.four-section .button-container button {
  width: 13rem;
  display: inline-block;
  margin: 0 0.5rem;
}

.four-section .button-container button:first-child {
  background-color: #fff;
  color: #333;
}

.four-section .button-container button:hover {
  background-color: rgba(255,255,255,0.2);
  color: #fff;
}

footer {
  background-image: linear-gradient(
    45deg,
    #1B4332 0%,
    #1B4332 16%,
    #2D6A4F 16%,
    #2D6A4F 33%,
    #40916C 33%,
    #40916C 50%,
    #52B788 50%,
    #52B788 66%,
    #74C69D 66%,
    #74C69D 83%,
    #95D5B2 83%);
  padding: var(--padding-value) 0;
  position: relative;
  z-index: 1;
}

footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(0,0,0,0.1) 0%,
    rgba(0,0,0,0.2) 100%);
  z-index: -1;
}

footer .socials {
  width: min(var(--min-size), var(--max-size));
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

footer ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  justify-items: center;
  margin-bottom: 2rem;
}

footer ul li a {
  border-bottom-color: transparent;
  font-size: 1.5rem;
}

footer .credits p {
  text-align: center;
  color: #eee;
}

@keyframes opacity {
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes buttonUp {
  to {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 990px) {
  :root {
    --icon-box: 7rem;
    --icon-size: 3.5rem;
  }
  
  h2 {
    font-size: 1.75rem;
  }
  
  .icons-area .icon {
    margin: 2rem 2.5rem;
  }
}


/* Small devices (portrait tablets and large phones, 768px and down) */
@media only screen and (max-width: 768px) {
  :root {
    font-size: 87.5%;
    --padding-value: 3rem;
  }
  
  .header-content h1 {
    font-size: 2.25rem;
  }
  
  /* second section */
  .first-section {
    flex-direction: column;
  }
  
  .first-section .img-container,
  .first-section .text-content {
    width: 100%;
  }
  
  .first-section .text-content {
    text-align: center;
  }
  
  .first-section .text-content hr {
    margin: 0 auto;
  }
  
  /* second section */
  .icons-text-container {
    flex-direction: column;
  }
  
  .icons-text-container .icons-area,
  .icons-text-container .text-content {
    width: 100%;
    padding: 0;
  }
  
  .icons-text-container .text-content {
    text-align: center;
    margin-top: 3rem;
  }
  
  .icons-text-container .text-content hr {
    margin: 0 auto;
  }
  
  /* third section */
  .third-section .text-content {
    margin: 3rem auto 2rem;
  }
  
  .third-section .images-section {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }
  
  .images-section .about-image p {
    margin: 1.5rem 0;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --icon-box: 6rem;
    --icon-size: 3rem;
  }
  
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  
  button {
    width: 90%;
  }
  
  .header-content h1 {
    font-size: 2rem;
  }
  
  .header-content h1 br,
  .header-content p br {
    display: none;
  }
  
  .icons-text-container .text-content {
    margin-top: 1rem;
  }
  
  .four-section .button-container {
   display: flex;
   align-items: center;
   flex-direction: column;
  }
  
  .four-section .button-container button ~ button {
    margin-top: 1rem;
  }
  
  .socials ul {
    margin-bottom: 1rem;
  }
  
  footer br {
    display: block;
  }
  
  footer span {
    display: none;
  }
}