@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

:root {
  font-size: 62.5%; /* significa que vai ter 10px, e cada 1.6rem = 16px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2, h3 {
  font-weight: 300;
  text-align: center;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.872rem;
}

p {
  text-align: center;
  opacity: .8;
  font-size: 1.6rem;
  line-height: 2.0rem;
  margin: 2.0rem 0;
}

img {
  width: 100%;
  max-width: 800px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.7);
  transition: border-bottom 0.3s ease;
}

a:hover {
  border-bottom-color: transparent;
}

button {
  text-transform: uppercase;
  width: 100%;
  background-color: transparent;
  padding: 1.4rem;
  border: 0.1rem solid white;
  border-radius: 5px;
  letter-spacing: 0.1rem;
  color: white;
  cursor: pointer;
}

button:focus {
  outline: none;
}

hr {
  width: 30%;
  margin: 20px auto;
  border: 1px solid #C6C2C2ee;
}

.bold {
  font-weight: 600;
}

.mt-30 {
  margin-top: 30px;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

.header_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 60px 30px 60px;
  text-align: center;
  color: #fff;
  height: 49.0rem;
  background-image: linear-gradient(
  45deg,
  #1B4332 0%,
  #1B4332 16%,
  #2D6A4F 16%,
  #2D6A4F 33%,
  #40916C 33%,
  #40916C 50%,
  #52B788 50%,
  #52B788 66%,
  #74C69D 66%,
  #74C69D 83%,
  #95D5B2 83%);
}

.header_container i {
  font-size: 64px;
}

.header_title {
  font-weight: 300;
}

.header_btn {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
}

.header_btn::before {
  content: '';
  width: 0.1rem;
  background-color: white;
  height: 100.0rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: rotate(180deg);
  transform-origin: bottom center;
}

/* animações do header */
.header_container i,
.header_title,
.header_container p {
  opacity: 0;
  animation: opacity ease-out 1s 0.5s forwards;
}

.header_btn {
  transform: translateY(500%);
  animation: translateY ease-out 0.8s 1.5s forwards;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px 30px;
  position: relative;
  overflow: hidden;
}

.article_background {
  color: #fff;
}

.article_background p {
  opacity: .7;
}

.article_background hr {
  border-color: #fff;
}

.blur_bg {
  background: url('https://images.wallpaperscraft.com/image/forest_trees_nature_84566_1920x1080.jpg');
  background-position: center center;
  background-size: cover;
  filter: blur(3px);
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
}

.article_icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.article_icons div {
  width: 8.0rem;
  height: 8.0rem;
  font-size: 4.0rem;
  color: #fff;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 25px;
  transform: rotate(45deg);
  background-color: transparent;
}

.article_icons div i {
  transform: rotate(-45deg);
}

.article_image h2,
hr {
  color: #fff;
  opacity: 1;
}

.article_image p {
  color: #fff;
}

article .itens {
  margin: 20px 0;
}

article .itens h3 {
  margin-top: 20px;
}

article .itens button {
  color: #000;
  border: 2px solid #ccc;
}

.register_container {
  position: relative;
  padding: 30px 25px;
  overflow: hidden;
}

.register_container h2 {
  color: #fff;
}

.register_container hr {
  margin: 20px auto;
  border: 1px solid #fff;
}

.register_container p {
  color: #fff;
}

.register_container button:nth-of-type(1) {
  background-color: #fff;
  color: #000;
  transition: 0.2s ease;
}

.register_container button:nth-of-type(1):hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.register_container button + button {
  margin-top: 20px;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: rgba(255, 255, 255, 0.7);
  background-image: linear-gradient(
  225deg,
  #1B4332 0%,
  #1B4332 16%,
  #2D6A4F 16%,
  #2D6A4F 33%,
  #40916C 33%,
  #40916C 50%,
  #52B788 50%,
  #52B788 66%,
  #74C69D 66%,
  #74C69D 83%,
  #95D5B2 83%);
}

.social p {
  margin: 5px 0 0 0;
  font-size: 1.4rem;
}

.social_itens {
  list-style-type: none;
  display: flex;
}

.social_itens li {
  margin: 10px;
  font-size: 2.5rem;
}

@media (max-width: 580px) {
  br {
    display: none;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  } 
  
  to {
    opacity: 1;
  }
}

@keyframes translateY {
  from {
    transform: translateY(500%);
  }
  
  to {
    transform: translateY(0);
  }
}